
.ReactModalPortal > * {
  // When the modal is closed, overlay div has no css class
  // This selector should be overridden by the `&--after-open` class below
  opacity: 0;
}
.ReactModal__Overlay {
  transition: opacity 300ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.65);
  &--after-open {
    opacity: 1;
  }
  &--before-close {
    opacity: 0;
  }
}
